/* =============
    Section 1
============= */
#section-1{
   padding-bottom: 32px;
   
   @include xl{
       display: grid;
       grid-template-columns: auto 1200px auto;
       grid-template-areas: ". section-1-container .";
   }

   #section-1-container{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-1-image section-1-content";
            padding: 50px 0;
        }

        @include xl{
            grid-area: section-1-container;
        }

        section{
            margin: 60px 0;
            @include md{
                margin: 0;
            }

            #section-1-content{
                
                hr{
                    border: none;
                    height: 3px;
                    background-color: $blue;
                }
                
                padding: 0 15px;
                @include md{
                    grid-area: section-1-content;
                }
            }
        }

        aside{
            background-image: url("../img/section-1/Kayak.jpg");
            background-size: cover;
            height: 480px;
            @include md{
                grid-area: section-1-image;
                height: 550px;
            }
            @include lg{
                height: 650px;
            }
            @include xl{
                height: 740px;
            }
        }
   }
}
   