/* =============
    section 3
============= */
#section-3{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 25% 100px auto;
    grid-template-areas: ". section-3 .";

    ul{
        grid-area: section-3;
        display: grid;
        grid-gap: 20px;
    
        img{
            height: 310px;
            width: 320px;
        }

        @include md {
            width: 768px;
            height: 723px;
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md {
            grid-template-columns: repeat(3, 1fr);
        }

    }
    
}