/* =============
    Section 1
============= */
#section-1{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 25% 100px auto;
    grid-template-areas: ". section-1 .";
    
    img{
        height: 482px;

        @include md {
            height: 419px;
        }

        @include lg{
            height: 737px;
        }
    }
    >#section-1-content {

        @include xl{
            grid-template-columns: auto 1200px auto;
        }

        grid-column-start: 1;
        grid-column-end: span 10;
        grid-row-start: 2;
        grid-row-end: span 2;
        >hr{
            color: $light-blue;
        }
        color: $black;
        text-align: right;
        grid-column-start: 1;
        grid-column-end: span 10;
        grid-row-start: 2;
        grid-row-end: span 2;
        >hr{
            color: $light-blue;
        }
    }
}
  