/* =============
    Section 2
============= */

#section-2{
    height: 516px;
    background-image: url("../img/section-2/iceberg1.jpg");
    background-position: center;
    background-size: cover;

    @include md{
        height: 575px;
    }

    @include lg{
        height: 625px;
    }

    @include xl{
        height: 682px;
    }
}