/* =============
    Section 1
============= */
#section-1{

    img{
        width: 491px;
        height: 737px;
    }
    >section {
        color: $black;
        text-align: right;
        >hr{
            color: $light-blue;
        }
    }
    >hr{
        color: $light-blue;
    }
}
  