/* =============
    Footer
============= */
footer{
    background-color: $blue;
    padding: 50px 0;
    text-align: center;
    color: $white;
    position: relative;
    
    padding: {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}