/* =============
    Header
============= */
header{
    color: $blue;
    background-image: url('../img/header/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 380px;

    @include md {
        height: 510px
    }

    @include lg {
        height: 680px;
        background-position: 0px, 100px;
    }

    #nav-container{
        background-color: none;
        grid-area: nav;
        display: none;

        @include lg{
            display: block;
        }
    }

    section{
        i{
            color: $blue;
        }
    }

}