/* =============
    Header
============= */
header{
    color: $blue;
    background-image: url('../img/header/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 380px;
    padding-left: 10px;
    width: 100%;


    

    @include md {
        height: 510px
    }

    @include lg {
        height: 680px;
        background-position: 0px, 100px;
    }

    >div {
        display: grid;
        grid-template-areas: "burger survival"
                            "nav nav";
        grid-template-columns: 20% auto;

        @include lg{
            grid-template-areas: "nav survival";
        }


        #logo-container{
            grid-area: survival;
            padding: 20px;

            text-align: right;

            a:link,
            a:visited {
                
            }

            a:hover,
            a:active{
                color: $white;
            }
        }

        #burger-container{
            align-items: center;
            grid-area: burger;
            display: flex;
            padding: 10px;

            @include lg{
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);        
            }

        }

        #nav-container{
            color: $blue;
            grid-area: nav;
            padding: 10px;
            display: none;
            
            @include lg{
                display: block !important;
            }
        }
    }
}