/* =============
    Header
============= */
header{
    color: $blue;
    text-align: left;
    
    background-image: url('../img/header/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 380px;

    @include md {
        height: 510px
    }

    @include lg {
        height: 680px;
        background-position: 0px, 100px;
    }
}